/* Architect design colour scheme */
#architect img {
    border-top: 30px solid #e6eefd;
    border-bottom: 30px solid #e6eefd;
}

#architect h3 {
    color: #fde6ee;
}

/* Music application colour scheme */
#spa-app img {
    border-top: 30px solid #f5b9ce;
    border-bottom: 30px solid #f5b9ce;
}

#spa-app h3 {
    color: #61dafb;
}

/* Restaurant design colour scheme */
#restaurant img {
    border-top: 30px solid #ebc472;
    border-bottom: 30px solid #ebc472;
}

#restaurant h3 {
    color: #739173;
}

/* Law design colour scheme */
#law img {
    border-top: 30px solid #6b78c7;
    border-bottom: 30px solid #6b78c7;
}

#law h3 {
    color: #25c4ac;
}

/* Comic design colour scheme */
#comic img {
    border-top: 30px solid #90e4e4;
    border-bottom: 30px solid #90e4e4;
}

#comic h3 {
    color: #ec2e2e;
}

/* Fashion design colour scheme */
#fashion img {
    border-top: 30px solid #f1abab;
    border-bottom: 30px solid #f1abab;
}

#fashion h3 {
    color: #fffaff;
}

/* GitHub Jobs colour scheme */
#github-app img {
    border-top: 30px solid #ddf099;
    border-bottom: 30px solid #ddf099;
}

#github-app h3 {
    color: #61dafb;
}

/* CodePen Clone colour scheme */
#codepen-app img {
    border-top: 30px solid #a0e290;
    border-bottom: 30px solid #a0e290;
}

#codepen-app h3 {
    color: #61dafb;
}

/* Youtube API colour scheme */
#youtube-app img {
    border-top: 30px solid #e06363;
    border-bottom: 30px solid #e06363;
}

#youtube-app h3 {
    color: #61dafb;
}

/* Map application colour scheme */
#map-app img {
    border-top: 30px solid #7fdb7f;
    border-bottom: 30px solid #7fdb7f;
}

#map-app h3 {
    color: #a7fff3;
}

/* Tracker colour scheme*/
#tracker-app img {
    border-top: 30px solid #e7e69c;
    border-bottom: 30px solid #e7e69c;
}

#tracker-app h3 {
    color: #61dafb;
}

/* Movies application colour scheme */
#movies-app img {
    border-top: 30px solid #e7e69c;
    border-bottom: 30px solid #e7e69c;
}

#movies-app h3 {
    color: #61dafb;
}